<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Regression Suite" thread-count="1"
	parallel="tests" verbose="4">
	
	<listeners>
	   <listener
	     class-name="com.qa.gorest.listeners.ExtendReportListeners"/>
	  
	</listeners>






<test name="Go Rest API Test">
	<parameter name = "baseURI" value ="https://gorest.co.in"></parameter>
		<classes>
			<class name="com.qa.gorest.tests.GetUserTest" />

		</classes>
	</test>
	
	<test name="Amadeus flight API Test">
	<parameter name = "baseURI" value ="https://test.api.amadeus.com"></parameter>
	<parameter name = "grantType" value ="client_credentials"></parameter>
	<parameter name = "clientid" value ="E9lSBGRSz78ADLIAB28Kab3v9rcrIAuJ"></parameter>
	<parameter name = "clientsecret" value ="GkRl54A8bMg5werg"></parameter>
		
		
		<classes>
			<class name="com.qa.gorest.tests.amadeuAPITest" />

		</classes>
	</test>
	
	
	 
   <test name="Go Rest API Create User Test">
	<parameter name = "baseURI" value ="https://gorest.co.in"></parameter>
		<classes>
			<class name="com.qa.gorest.tests.CreateUserTest" />

		</classes>
	</test>




<test name="ReqRes API test">
	<parameter name = "baseURI" value ="http://reqres.in"></parameter>
	
		<classes>
			<class name="com.qa.gorest.tests.ReqResAPITest" />

		</classes>
	</test>
	


</suite>